#main {
    width: 100px + 1in + 2pt;
}

#main1 {
    $font-size: 30px;
    $baseSize2: 2;
    font: #{$font-size}/#{$baseSize2};
}

div {
    color: hsl(0, 100%, 50%);
    background: hsl($hue: 0, $saturation: 100%, $lightness: 50%);
    font: unit($number: 10px)
}