@mixin transform() {
    transform: rotate(360deg);
    font-weight: 300;
}

@mixin large-text() {
    font: 12px/14px {
        family: Arial;
        size: 20px;
        weight: bold;
    }
    color: #ff0000;
}

@mixin out-mixin {
    p {
        color: #ff0000;
    }
}