p {
    @if 1+1==2 {
        border: 1px solid red;
    } // false
    @if (5 < 3) {
        color: black;
    }
    @if (&) {
        font-size: 14px;
    }
}

@if expr {}

@for $count from 1 through 10 {
    .padding-#{$count*10} {
        padding: {
            top: $count * 10px;
            bottom: $count * 10px;
            left: $count * 10px;
            right: $count * 10px;
        }
    }
}

/**
 * @each*/

@each $animal in puma,
sea-slug,
egret,
salamander {
    .#{$animal}-icon {
        background-image: url('/images/#{$animal}.png');
    }
}

@each $animal,
$color,
$cursor in (puma,
black,
default),
(sea-slug,
blue,
point),
(egret,
white,
move) {
    .#{$animal}-icon {
        background: url('/images/#{animal}.png');
        border: 2px solid $color;
        cursor: $cursor;
    }
}

$i: 1;
@while($i<10) {
    $current: $i*10;
    .padding-#{$current} {
        top: $current;
        bottom: $current;
        left: $current;
        right: $current;
    }
    $i: $i+1;
}